* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  height: 100%;
  font-family: $interFontF;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  @extend .flexColumn;
  width: 100%;
}

.header {
  background-color: $blueColor;
  min-height: 110px;
  padding-bottom: 100px;

  .header_container {
    min-height: 110px;
    align-items: center;
    color: $headerText;
    display: flex;
    @extend .container;
    justify-content: space-between;

    @include respond-to(handhelds) {
      width: 300px;
    }
    @include respond-to(medium-screens) {
      width: 700px;
    }
    @include respond-to(wide-screens) {
      width: 100%;
    }
    .header_left-container {
      @extend .flexRow;
      justify-content: flex-start;

      .header_logo {
        padding-right: 40px;
      }
      .header_social {
        @extend .flexRow;
        justify-content: space-between;

        .social_link {
          width: 45px;
          height: 45px;
          background-color: $whiteColor;
          margin-right: 10px;
          align-items: center;
          justify-content: center;
          display: flex;

          &:hover {
            border: 1px solid$yellowColor;
            background-color: transparent;
          }
        }
      }
    }
    .header_right-container {
      @extend .flexRow;
      justify-content: flex-end;
      .header_menu {
        align-items: center;
        font-size: 17px;
        @extend .flexRow;
        @include respond-to(handhelds) {
          display: none;
        }

        .menu_icon {
          position: relative;
          background-color: transparent;
          &,
          &::before,
          &::after {
            width: 3rem;
            height: 3px;
            background-color: $headerText;
            display: inline-block;
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
          }

          &::before {
            top: -0.8rem;
          }
          &::after {
            top: 0.8rem;
          }
          @include respond-to(handhelds) {
            display: flex;
          }
          @include respond-to(wide-screens) {
            display: none;
          }
        }

        .menu_list {
          list-style-type: none;
          @extend .flexRow;
          .menu_item {
            margin-right: 40px;
            .menu_link {
              text-decoration: none;
              color: $headerText;
              line-height: 26px;
              letter-spacing: 0.17px;
              color: $headerText;

              &:hover {
                color: $yellowColor;
              }
            }
          }
        }
      }
      .header_card {
        width: 17px;
        height: 17px;
        margin: 24px 50px 24px 0px;

        .card-icon {
          &:hover {
            transform: scale(2);
            cursor: pointer;
          }
        }
      }
      .header_button {
        @extend %button-yellow;

        .button_yellow {
          @extend %button;
        }
        &:hover {
          background-color: $headerText;
        }
      }
    }
  }
}

.main {
  flex-grow: 1;

  .welcome {
    background-color: $blueColor;
    padding-bottom: 100px;

    &_container {
      @extend .container;
      padding-top: 40px;
      @extend .flexRow;
      justify-content: space-between;

      .welcome_content {
        @extend .flexColumn;
        color: $whiteColor;
        width: 560px;
        padding-left: 20px;
        padding-top: 150px;

        .welcome_block-text {
          @extend .flexColumn;

          .block-text_subtitle {
            height: 36px;
            font-family: $cardoFontF;
            font-weight: 400;
            font-size: 21px;
            line-height: 36px;
            letter-spacing: 1.2px;
            text-transform: capitalize;
            padding-left: 50px;

            /* &::before {
              content: "";
              display: block;
              width: 35px;
              height: 2px;
              background: $yellowColor;
              position: absolute;
              top: 33%;
              left: 105px;
            }*/
          }

          .block-text_title {
            font-family: $cardoFontF;
            font-size: 63px;
            line-height: 78px;
            letter-spacing: 1.3px;
            text-transform: capitalize;
            font-weight: 400;
            padding: 10px 0 24px 0px;
          }

          .block-text_text {
            font-family: $interFontF;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: $welcomeText;
          }
        }

        .welcome_block-buttons {
          @extend .flexRow;
          padding-top: 42px;
          padding-bottom: 47px;

          .block-buttons_button {
            padding: 17px 52px;
            margin-right: 51px;
            @extend %button-yellow;

            .button_yellow {
              @extend %button;
            }
            &:hover {
              background-color: $headerText;
            }
          }

          .block-buttons_demo-button {
            background-color: transparent;
            border: none;

            &:hover {
              color: $yellowColor;
            }

            .button_border-bottom {
              color: $whiteColor;
              border-bottom: 1px solid white;
              @extend %button;
              &:hover {
                color: $yellowColor;
              }
            }
          }
        }

        .welcome_list {
          @extend .flexRow;
          justify-content: space-between;
          list-style-type: none;

          .list_item {
            background-image: url(/images/Rectangle.png);
            padding-left: 20px;
            font-family: $cardoFontF;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.48px;
            @extend .flexColumn;

            span {
              font-family: $interFontF;
              font-style: normal;
              font-weight: 400;
              font-size: 17px;
              line-height: 27px;
              color: $welcomeText;
            }
          }
        }
      }

      .welcome_image {
        padding-right: 20px;
      }
    }
  }

  .book {
    &_container {
      @extend .container;
      @extend .flexColumn;

      .book_main-block {
        padding: 126px 0px 150px 0px;

        .book_title {
          @extend %sectionTitle;
          padding-bottom: 96px;
        }

        .book_content {
          @extend .flexRow;
          justify-content: space-between;

          .content_left-block {
            @extend .flexRow;
            padding-right: 48px;

            .left-block_content {
              padding: 40px 0px 0px 30px;

              .left-block_title {
                @extend %blockTitle;
              }

              .left-block_price {
                font-family: $interFontF;
                font-size: 21px;
                line-height: 33px;
                color: $yellowColor;
                padding-top: 7px;
              }
              .left-block_text {
                font-family: $interFontF;
                font-style: normal;
                font-weight: 400;
                font-size: 19px;
                line-height: 28px;
                color: $greyColor;
                padding-top: 17px;
              }
              .left-block_list {
                font-family: $cardoFontF;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: $blueColor;
                text-transform: capitalize;
                padding-top: 13px;
                list-style-type: none;
                @extend .flexRow;

                .list_img {
                  padding-right: 10px;
                }
              }

              .left-block_button {
                margin-top: 27px;
                @extend %button-white;

                &:hover {
                  @extend %button-yellow;
                }

                .button_white {
                  @extend %button;
                }
              }
            }
          }

          .content_right-block {
            @extend .flexRow;

            .right-block_title {
              @extend %blockTitle;
            }
            .right-block_content {
              padding: 40px 0px 0px 30px;

              .right-block_price {
                font-family: $interFontF;
                font-size: 21px;
                line-height: 33px;
                color: $yellowColor;
                padding-top: 7px;
              }
              .right-block_text {
                @extend %textInter19px;
                line-height: 28px;
                color: $greyColor;
                padding-top: 17px;
              }
              .right-block_list {
                font-family: $cardoFontF;
                font-style: normal;
                font-weight: 400;
                font-size: 24px;
                line-height: 29px;
                color: $blueColor;
                text-transform: capitalize;
                padding-top: 13px;
                list-style-type: none;
                @extend .flexRow;

                .list_img {
                  padding-right: 10px;
                }
              }

              .right-block_button {
                margin-top: 27px;
                @extend %button-white;

                &:hover {
                  @extend %button-yellow;
                }

                .button_white {
                  @extend %button;
                }
              }
            }
          }
        }
      }
    }
  }
  .about {
    background-color: $aboutBgColor;

    &_container {
      @extend .container;
      padding-top: 150px;
      padding-bottom: 140px;

      .about_main-block {
        @extend .flexRow;

        .about_content {
          padding-left: 150px;

          .about_title {
            @extend %sectionTitle;
            padding: 55px 0px 59px 0px;
          }

          .about_text {
            @extend %textInter19px;
            color: $greyColor;
            padding-bottom: 33px;
          }

          .about_list {
            @extend .flexRow;
            justify-content: space-between;
            padding-bottom: 54px;

            .list_item {
              @extend .flexColumn;
              .item_number {
                @extend %numberCardo54px;
                color: $blueColor;
              }

              .item_text {
                font-family: "Inter";
                font-style: normal;
                font-weight: 400;
                font-size: 17px;
                line-height: 22px;
                color: $greyColor;
                text-transform: capitalize;
              }
            }
          }

          .about_QRcode {
            background: $blueColor;
            @extend .flexRow;
            width: 484px;
            height: 161px;
            justify-content: space-between;

            .QRcode_img {
              margin: 15px 40px 16px 20px;
            }

            .QRcode_info {
              @extend .flexColumn;
              padding-right: 20px;

              .info_name {
                font-family: "Cardo";
                font-style: normal;
                font-weight: 400;
                font-size: 22px;
                line-height: 26px;
                color: $yellowColor;
                padding-top: 37px;
              }
              .info_mail {
                color: $welcomeText;
                @extend %textInter18px;
                line-height: 28px;
                letter-spacing: 0.19px;
                padding-top: 10px;
              }
              .info_phone {
                color: $welcomeText;
                @extend %textInter18px;
                line-height: 28px;
                letter-spacing: 0.19px;
                padding-top: 5px;
              }
            }
          }
        }
      }
    }
  }
  .subscribe {
    background: $whiteColor;

    &_container {
      @extend .container;
      @extend .flexColumn;
      background-color: $yellowColor;
      box-shadow: 0px 0px 19px rgba(0, 0, 0, 0.18);
      border-radius: 5px;
      height: 489px;
      margin: 120px auto;
    }

    &_main-block {
      padding: 96px 150px 115px 150px;
      @extend .flexColumn;
    }

    .subscribe_title {
      @extend %sectionTitle;
      padding-bottom: 51px;
    }

    .subscribe_text {
      @extend %textInter18px;
      margin: $themeMargin;
      color: $blueColor;
      width: 550px;
      padding-bottom: 49px;
      text-align: center;
    }

    .subscribe_subscribe-block {
      .mail_field {
        height: 70px;
        width: 656px;
        background: $whiteColor;
        border: 1px solid #dce1e9;
        margin-right: 16px;

        &::placeholder {
          @extend %textInter18px;
          color: $welcomeText;
          text-transform: capitalize;
          padding-left: 39px;
        }

        &:hover {
          background: $welcomeText;
          cursor: pointer;
          border: 1px solid $blueColor;
          color: $blueColor;
        }
      }

      .subscribe_button {
        box-sizing: border-box;
        position: absolute;
        height: 68px;
        width: 328px;
        background: $blueColor;
        border: 2px solid $blueColor;
        @extend %textInter18px;
        color: $whiteColor;

        &:hover {
          background-color: $headerText;
          color: $blueColor;
        }
      }
    }
  }
  .articles {
    background: #f4f8ff;
    height: 1045px;

    &_container {
      min-width: 0;
      @extend .container;

      .articles_title {
        @extend %sectionTitle;
        color: $blueColor;
        padding-bottom: 96px;
        padding-top: 126px;
      }

      .articles_swiper {
        width: 1300px;
        height: 600px;
        .swiper_wrapper {
          .swiper-slide {
            .slider_image {
              text-align: center;
              .image_slide-img {
                max-width: 100%;
              }
            }
          }
        }
      }
    }
  }
}

.footer {
  flex-shrink: 0;
  background-color: $blueColor;
  width: 100%;
  min-height: 486px;

  &_container {
    @extend .container;
    padding: 92px 0px 24px 0px;
  }
  &_content {
    @extend .flexRow;
    justify-content: space-between;
    .footer_logo {
      padding-bottom: 20px;
    }
    .footer_social {
      @extend .flexRow;

      .social_link {
        width: 55px;
        height: 55px;
        border: 1px solid$yellowColor;
        margin-right: 10px;
        align-items: center;
        justify-content: center;
        display: flex;

        &:hover {
          background-color: $yellowColor;
          border: none;
        }
      }
    }

    .explore_block {
      @extend .flexColumn;

      .explore_title {
        @extend %footerTitle;
      }

      .explore_list {
        list-style-type: none;
        text-transform: capitalize;

        .explore_item {
          @extend .flexRow;
          padding-bottom: 9px;

          .item_dotes {
            @extend %yellowDotes;
          }

          .item_name {
            @extend %textInter18px;
            color: $welcomeText;
            line-height: 31px;
            letter-spacing: 0.18px;
          }
        }
      }
    }

    .utility_block {
      @extend .flexColumn;

      .utility_title {
        @extend %footerTitle;
      }

      .utility_list {
        list-style-type: none;
        text-transform: capitalize;

        .utility_item {
          @extend .flexRow;
          padding-bottom: 9px;

          .item_dotes {
            @extend %yellowDotes;
          }

          .item_name {
            @extend %textInter18px;
            color: $welcomeText;
            line-height: 31px;
            letter-spacing: 0.18px;
          }
        }
      }
    }

    .keep_block {
      @extend .flexColumn;
      width: 400px;

      .keep_title {
        @extend %footerTitle;
      }

      .keep_item {
        @extend .flexRow;
        justify-content: space-between;
        text-transform: capitalize;
        padding-bottom: 18px;

        .item_name {
          @extend %textCardo18px;
          width: 81px;
          margin-right: 30px;
        }

        .item_text {
          @extend %textInter17px;
          width: 320px;
          display: flex;

          justify-items: start;
        }
      }
    }
  }
  .footer_powered {
    @extend .flexRow;

    justify-content: center;
    padding-top: 95px;

    .blue_text {
      @extend %textInter17px;
    }

    .white_text {
      @extend %textInter17px;
      color: $whiteColor;
    }
  }
}
