* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.body {
  height: 100%;
  min-width: 100vw;
  font-family: $interFontF;
}

.wrapper {
  min-height: 100%;
  overflow: hidden;
  @extend .flexColumn;
}

.header {
  background-color: $blueBackgroundC;
  top: 0;
  left: 0;
  width: 100%;
  position: absolute;
  margin: $themeMargin;

  .header_container {
    min-height: 110px;
    align-items: center;
    color: $headerText;
    display: flex;
    @extend .container;
    justify-content: space-between;

    @include respond-to(handhelds) {
      width: 300px;
    }
    @include respond-to(medium-screens) {
      width: 700px;
    }
    @include respond-to(wide-screens) {
      width: 100%;
    }
    .header_left-container {
      @extend .flexRow;
      justify-content: flex-start;

      .header_logo {
        padding-right: 40px;
      }
      .header_social {
        width: 160px;
        @extend .flexRow;
        justify-content: space-between;
      }
    }
    .header_right-container {
      @extend .flexRow;
      justify-content: flex-end;
      .header_menu {
        align-items: center;
        font-size: 17px;
        @extend .flexRow;
        @include respond-to(handhelds) {
          display: none;
        }

        .menu_icon {
          position: relative;
          background-color: transparent;
          &,
          &::before,
          &::after {
            width: 3rem;
            height: 3px;
            background-color: $headerText;
            display: inline-block;
          }
          &::before,
          &::after {
            content: "";
            position: absolute;
            left: 0;
            transition: all 0.2s;
          }

          &::before {
            top: -0.8rem;
          }
          &::after {
            top: 0.8rem;
          }
          @include respond-to(handhelds) {
            display: flex;
          }
          @include respond-to(wide-screens) {
            display: none;
          }
        }

        .menu_list {
          list-style-type: none;
          @extend .flexRow;
          .menu_item {
            margin-right: 40px;
            .menu_link {
              text-decoration: none;
              color: $headerText;
              line-height: 26px;
              letter-spacing: 0.17px;
              color: $headerText;

              &:hover {
                color: $yellowColor;
              }
            }
          }
        }
      }
      .header_card {
        width: 17px;
        height: 17px;
        margin: 24px 50px 24px 0px;

        .card-icon {
          &:hover {
            transform: scale(2);
            cursor: pointer;
          }
        }
      }
      .header_button {
        padding: 17px 52px;
        @extend .button_yellow;
        @extend .button;
        &:hover {
          background-color: $headerText;
        }
      }
    }
  }
}

.main {
  flex-grow: 1;
  margin-top: 110px;
  .welcome {
    background-color: $blueBackgroundC;

    &_container {
      @extend .container;
      padding-top: 40px;
      @extend .flexRow;
      justify-content: space-between;

      .welcome_content {
        @extend .flexColumn;
        color: $whiteColor;
        width: 560px;
        padding-left: 20px;
        padding-top: 150px;

        .welcome_content_block {
          @extend .flexColumn;

          .block_subtitle {
            height: 36px;
            font-family: $cardoFontF;
            font-weight: 400;
            font-size: 21px;
            line-height: 36px;
            letter-spacing: 1.2px;
            text-transform: capitalize;
            padding-left: 45px;
          }

          .block_title {
            font-family: $cardoFontF;
            font-size: 63px;
            line-height: 78px;
            letter-spacing: 1.3px;
            text-transform: capitalize;
            font-weight: 400;
            padding: 10px 0 24px 0px;
          }

          .block_text {
            font-family: $interFontF;
            font-weight: 400;
            font-size: 18px;
            line-height: 28px;
            color: $welcomeText;
          }
        }

        .welcome_content_buttons {
          @extend .flexRow;
          padding-top: 42px;
          padding-bottom: 47px;

          .content_button {
            padding: 17px 52px;
            margin-right: 51px;
            @extend .button_yellow;
            @extend .button;
            &:hover {
              background-color: $headerText;
            }
          }

          .content_demo-button {
            background-color: transparent;
            border: none;

            .button {
              color: $whiteColor;
              border-bottom: 1px solid white;
            }
          }
        }

        .welcome_content_list {
          @extend .flexRow;
          justify-content: space-between;

          .list_item {
            list-style-type: none;
            font-family: $cardoFontF;
            font-size: 24px;
            line-height: 29px;
            letter-spacing: 0.48px;
          }
        }
      }

      .welcome_image {
        padding-right: 20px;
      }
    }
  }
}
.footer {
  flex-shrink: 0;
}
