$small: 320px;
$medium: 768px;
$large: 1024px;

@mixin respond-to($media) {
  @if $media == handhelds {
    @media (max-width: $small) {
      @content;
    }
  } @else if $media == medium-screens {
    @media (min-width: $medium) {
      @content;
    }
  } @else if $media == wide-screens {
    @media (min-width: $large) {
      @content;
    }
  }
}
