/*

.flex_s_b{
    justify-content: space-between; 
}


*/
$yellowColor: #ffca42;
$themeMargin: 0 auto;
$headerText: #f6f8fc;
$buttonText: #1b3764;

.flexRow {
  display: flex;
  flex-direction: row;
}

.flexColumn {
  display: flex;
  flex-direction: column;
}

.container {
  margin: $themeMargin;
  max-width: 1410px;
  padding: 0px 15px;
}

.button {
  display: inline-block;
  box-sizing: border-box;
  font-family: Cardo;
  font-size: 19px;
  text-transform: capitalize;
  color: $buttonText;

  line-height: 28px;
  letter-spacing: 0.57px;
  text-decoration: none;
}

.button_yellow {
  background-color: $yellowColor;
  border: 2px solid #ffca42;
}
