@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
    padding: 0;
    margin: 0;
    border: 0;
}
.flex_row{
    display: flex;
    flex-direction: row;
}

.flex_s_b{
    justify-content: space-between; 
}

.yellow-text{
    color: #FFCA42;
}

.white-text{
    color: #F6F8FC;
}
.header{
    background-color: #1B3764;
    font-family: inter;
    padding: 20px 70px 20px 70px;
   
.header_left-block{
    width: 300px;
    
  .logo_img{
    padding: 7px;
  }
  .social_img{
    padding-right: 5px;
  }
}
.header_menu{
  width: 500px; 
  
  .header_menu_list{
    align-items: center;
    width: 350px;
   .header_menu_item{
    font-size: 17px;
   }
  }
  .header_menu_card{
    padding: 16px 0 16px 0;
  }
}
}